/* some styles come from info-layout.css since the homepage is the only place the gallery component will be in*/
.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-block: 1em;
  padding: 1em;
}

.gallery h1 {
  font-style: italic;
}

.gallery-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-content .media img {
  border-radius: 10px;
}

@media (width <= 833px) {
  .gallery-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 600px) {
  .gallery-content {
    grid-template-columns: 1fr;
  }
}
