@import url("info-layout.css");

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase {
  position: relative;
  min-height: 400px;
  width: 90%;
  background: url("/school.png") no-repeat center;
  background-size: cover;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.showcase::before {
  content: "";
  position: absolute;
  width: clamp(230px, 80vw, 800px);
  height: clamp(390px, 35vw, 430px);
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid var(--red-clr);
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase p,
.showcase h1 {
  padding-inline: 2em;
  position: relative;
  z-index: 2;
  font-size: clamp(14px, 2vw, 24px);
  max-width: 25em;
  color: var(--red-clr);
  font-weight: 900;
  font-style: italic;
  text-align: center;
}