.media {
  max-width: 334px;
  min-width: 270px;
}

.media img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.description-container {
  display: flex;
  gap: 1em;
  padding: 5em 5em 0em 5em;
}

.description h2 {
  font-style: italic;
  text-align: center;
}

@media (width <= 750px) {
  .description-container {
    flex-wrap: wrap;
  }

  .media {
    max-width: 100%;
  }
}
